<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4cef0">  <td>18/08/09 12:07:32</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ParallelSuiteTest.beforeTest()[pri:0, instance:com.personal.FewSelenium.ParallelSuiteTest@43738a82]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@188576144</td>   <td></td> </tr>
<tr bgcolor="b4cef0">  <td>18/08/09 12:07:49</td>   <td>16537</td> <td>&nbsp;</td><td title="&lt;&lt;ParallelSuiteTest.tearOff()[pri:0, instance:com.personal.FewSelenium.ParallelSuiteTest@43738a82]">&lt;&lt;tearOff</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@188576144</td>   <td></td> </tr>
<tr bgcolor="b4cef0">  <td>18/08/09 12:07:48</td>   <td>15740</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelSuiteTest.testMethodOne()[pri:0, instance:com.personal.FewSelenium.ParallelSuiteTest@43738a82]">testMethodOne</td> 
  <td>main@188576144</td>   <td></td> </tr>
<tr bgcolor="b4cef0">  <td>18/08/09 12:07:37</td>   <td>4375</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelSuiteTest.testMethodTwo()[pri:0, instance:com.personal.FewSelenium.ParallelSuiteTest@43738a82]">testMethodTwo</td> 
  <td>main@188576144</td>   <td></td> </tr>
</table>
