<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b4cef0">  <td>18/08/09 11:57:55</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;ParallelSuiteTest.beforeTest()[pri:0, instance:com.personal.FewSelenium.ParallelSuiteTest@7403c468]">&gt;&gt;beforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@802581203</td>   <td></td> </tr>
<tr bgcolor="b4cef0">  <td>18/08/09 11:57:59</td>   <td>4406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelSuiteTest.testMethodOne()[pri:0, instance:com.personal.FewSelenium.ParallelSuiteTest@7403c468]">testMethodOne</td> 
  <td>TestNG-test=Test-1@713348250</td>   <td></td> </tr>
<tr bgcolor="b4cef0">  <td>18/08/09 11:57:59</td>   <td>4406</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="ParallelSuiteTest.testMethodTwo()[pri:0, instance:com.personal.FewSelenium.ParallelSuiteTest@7403c468]">testMethodTwo</td> 
  <td>TestNG-test=Test-2@47498100</td>   <td></td> </tr>
</table>
